body {
	margin: auto 0;
	font-family: "Roboto", sans-serif;
}

/* NAV */
.main_nav {
	display: flex;
	list-style: none;
	background-color: #1f2937;
	font-size: 18px;
	padding: 0 10vh;
	margin: 0;
	align-items: center;
}

li {
	padding: 1.5vh 10px;
}

a {
	text-decoration: none;
	color: #e5e7eb;
}

/* Header Logo */
#header_logo {
	margin-right: auto;
	padding-left: 0;
}

#header_logo a {
	font-size: 24px;
	font-weight: bold;
	color: #f9faf8
}

@media only screen and (max-width: 800px) {
    .main_nav {
        font-size: 0.75em;
    }

	#header_logo a {
		font-size: 1.4em;
	}
}

@media only screen and (max-width: 600px) {
    .main_nav {
        font-size: 0.55em;
    }

	#header_logo a {
		font-size: 1.2em;
	}
}

/* Hero Main */
#hero_main {
	display: grid;
	background-color: #1f2937;
	color: #e5e7eb;
	padding: 0 10vh;
	margin: 0;
	grid-template-columns: 1fr 1fr;
	gap: 5vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
	font-size: 18px;
}

.text_main h1 {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8
}

.image_placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: grey;
}

.text_main h1, p { 
	margin: 0;
}

.text_main button {
	font-weight: bold;
	background-color: #3882f6;
	color: #e5e7eb;
	padding: 0.35rem 1.75rem;
	border: none;font-size: 18px;
	border-radius: 0.35rem;
	cursor: pointer;
	margin: 10px 0
}

/* Info Cards */

.info_cards_header {
	display: flex;
	justify-content: center;
}

.info_cards_header h1 {
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
	padding: 1%;
}

.info_cards_container {
	display: flex;
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	gap: 20px;
	align-items: center;
	justify-content: center;
}

#info_cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 7.0rem;
}

/* .info_cards_item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly; */

	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 20px;
} */

/* .info_cards_img {
	background-color: #ffffff;
	border: 3px solid #3882f6;
	border-radius: 15px;
	height: 200px;
	width: 200px;
} */

.info_cards_img img {
	height: 200px;
	width: 200px;
	object-fit: cover;
	background-color: #ffffff;
	border: 3px solid #3882f6;
	border-radius: 15px;
}

.info_cards_text {
	font-size: 18px;
	color: #1f2937;
	text-align: center;
	width: 75%;
	padding-top: 2%;
}

/* Quote Section */
#quote_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7.0rem 8.5rem;
	background-color: #e5e7eb;
	
}

.quote_text {
	color: #1f2937;
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
	text-align: justify;
	padding-bottom: 0;

}

.quote_author {
	align-self: flex-end;
}

.quote_author h6 {
	color: #1f2937;
	font-size: 24px;
	font-weight: bold;
	text-align: justify;
	margin: 0;
}

/* Action Section */
#action_section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem 0;
}

.action_container {
	background-color: #3882f6;
	border: none;
	width: 50vw;
	height: 10vh;
	border-radius: 7px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content: center;
	align-items: center;
	padding: 1rem 5rem;
}

.action_text { 
	color: #e5e7eb;
	font-size: 12px;
	text-align: justify;

}

.action_text h6 {
	font-size: 18px;
	font-weight: bolder;
	margin: 0;
}

.action_button {
	justify-self: center;
}

.action_button button {
	color: #e5e7eb;
	padding: .3rem 1.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	background-color: transparent;
  	color: #e5e7eb;
  	border: 1.5px solid #e5e7eb;
	border-radius: 7px;
	font-weight: bolder;
}